<p id="notice"><%= notice %></p>

<p>
  <strong>User id:</strong>
  <%= @connection.user_id %>
</p>

<p>
  <strong>Device id:</strong>
  <%= @connection.device_id %>
</p>

<%= link_to 'Edit', edit_connection_path(@connection) %> |
<%= link_to 'Back', connections_path %>
