<br/>
<br/>
<br/>
<h1>Listing devices</h1>

<table>
  <thead>
	<tr>
      <th>Name</th>
      <th>Status</th>
      <th></th>
      <th></th>
	  <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @devices.each do |device| %>
      <tr>
        <td><%= device.name %></td>
        <td><%= device.status %></td>
		<td><%=link_to "ON/OFF", device_path(device), data: { params: { device: { status: !device.status} }.to_param }, :method => 'PATCH', remote: true%></td>
 <!--       <td><%=link_to "ON/OFF2", update_device_path(device), data: { params: { id: device.id, device: { status: !device.status} }.to_param }, :method => 'PATCH'%></td> -->
		<td><%= link_to 'Show', device %></td>
        <td><%= link_to 'Edit', edit_device_path(device) %></td>
        <td><%= link_to 'Destroy', device, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Device', new_device_path %>
