<p id="notice"><%= notice %></p>
<br/>
<br/>
<br/>
<p>
  <strong>Name:</strong>
  <%= @device.name %>
  
  <strong>Number of users:</strong>
  <%= @device.connections.count %>
</p>

<p>
  <strong>Status:</strong>
  <%= @device.status %>
</p>

<h1>Listing users</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>User_id</th>
	  <th></th>
      <th></th>
	  <th></th>
    </tr>
  </thead>

  <tbody>
    <% @device.connections.each do |connection| %>
      <tr>
	    <td><%= User.find(connection.user_id).name %></td>
		<td><%= connection.user_id %></td>
		<td><%= link_to 'Show User', user_path(connection.user_id) %></td>
        <td><%= link_to 'Edit User', edit_user_path(connection.user_id) %></td>
        <td><%= link_to 'Disconnect User', connection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>
